
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  font-family: Quicksand;
}

@font-face {
  font-family: Quicksand;
  src: url('../assets/fonts/QuickSand-Light.woff');
}
